@model HandsOnHelperMethods.Models.User
@{
    ViewData["Title"] = "Register";
}

<h1>Register User</h1>
<div class="container">
    @using(Html.BeginForm())
	{
	<table class="table table-bordered">
		<tr>
			<td>First Name</td>
			<td>
				@Html.TextBox("Fname")
			@Html.ValidationMessage("Fname")
		</td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td>
			@Html.TextBox("Lname")
		@Html.ValidationMessage("Lname")
	</td>
	</tr>
	<tr>
		<td>Gender</td>
		<td>
			Male @Html.RadioButton("Gender", false)
			FeMale @Html.RadioButton("Gender", false)

		</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>
			@Html.TextBox("Email", "", new { type = "email" })
		@Html.ValidationMessage("Email")
	</td>
	</tr>
	<tr>
		<td>MobileNo</td>
		<td>
			@Html.TextBox("Mobile")
		@Html.ValidationMessage("Mobile")
	</td>
	</tr>
	<tr>
		<td>Country</td>
		<td>@Html.DropDownList("Country", new SelectList(new string[] { "India", "US", "UK", "Japan" }))</td>
	</tr>
	<tr>
		<td>DOB</td>
		<td>@Html.TextBox("DOB", null, new { type = "Date" })
		@Html.ValidationMessage("DOB") 
		</td>
	</tr>
	<tr>
		<td>Username</td>
		<td>
			@Html.TextBox("Uname")
		@Html.ValidationMessage("Uname")
	</td>
	</tr>
	<tr>
		<td>Password</td>
		<td>
			@Html.Password("Pwd")
		@Html.ValidationMessage("Pwd")
	</td>
	</tr>
	<tr>
		<td>ConfirmPassword</td>
		<td>
			@Html.Password("CPwd")
		@Html.ValidationMessage("CPwd")
	</td>
	</tr>
	<tr>
		<td colspan="2">
			@Html.CheckBox("Accpet") Accpet All terms and Conditions.
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" value="Register" />
			<input type="Reset" value="Reset" />
		</td>
	</tr>
	</table>
	}
</div>

