@model HandsOnHelperMethods.Models.Employee 
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@using(Html.BeginForm())
{
<table class="table table-bordered">
	<tr>
		<td>ID</td>
		<td>
			@Html.EditorFor(m => m.Eid)
			@Html.ValidationMessageFor(m => m.Eid)
		</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>
			@Html.TextBoxFor(m => m.Ename)
			@Html.ValidationMessageFor(m => m.Ename)
		</td>
	</tr>
	<tr>
		<td>JoinDate</td>
		<td>
			@Html.EditorFor(m => m.JoinDate)
		</td>
	</tr>
	<tr>
		<td>Designation</td>
		<td>
			@Html.TextBoxFor(m => m.Designation)
		</td>
	</tr>
	<tr>
		<td>Salary</td>
		<td>
			@Html.TextBoxFor(m => m.Salary)
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" value="Register" />
		</td>
	</tr>
</table>
}

